.done {
    text-decoration:line-through;
    flex: 730px;
    color: #666;
}
.not-done {
    flex: 730px;
    color: #666;
}
li {
    list-style-type:none;
    display: inline;
}
.todo {
    border: 1px solid #aaa;
    margin-bottom: 15px;
    width: 800px;
    height: 80px;
    line-height: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-button {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #999;
}